#!/usr/bin/make -f

export BUILD_MODE=release-deb
%:
	dh $@ --buildsystem cargo --with=bash-completion

override_dh_auto_test:
	# skip for now to avoid additional debug builds - no tests anyway
	# dh_auto_test -- test --all

override_dh_auto_install:
	dh_auto_install
	DESTDIR=../debian/proxmox-offline-mirror-docs make -C docs install
	rm debian/proxmox-offline-mirror/usr/bin/docgen

override_dh_missing:
	dh_missing --fail-missing
